body {
    margin: 0;
}

p {
    font-size: 0.9em;
}

header {
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgb(236, 236, 236);
    margin-top: -80px;
    z-index: 1;
}

#container {
    margin-left: 152px;
    margin-top: 80px;
    width: 1280px;
}

#container section {
    margin-bottom: 14px;
    width: 854px;
}

#vid-desc {
    background-color: white;
    height: 285px;
    font-family: 'Roboto', sans-serif;
}

#vid-desc #creator-icon {
    margin-top: 20px;
    border-radius: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 11px;
    text-align: center;
    float: left;
    height: 26px;
    width: 26px;
    background-color: #659c37;
}

#vid-desc h3 {
    font-size: 1.1em;
    margin-bottom: -9px;
    letter-spacing: 0.28px;
    font-weight: 400;
}

#vid-desc h4 {
    color: rgb(156, 156, 156);
    font-weight: 300;
}

#vid-desc article {
    width: 650px;
    margin-left: 65px;
}

#vid-desc h5 {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 0;
}

#vid-desc h6 {
    color: rgb(156, 156, 156);
    font-size: 0.8em;
    margin-top: 2px;
    margin-bottom: 25px;
    font-weight: 400;
}

#vid-desc a {
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(143, 143, 143);
    text-decoration: none;
}

#vid-desc button {
    margin-top: 24px;
    padding: 12px 22px;
    font-size: 0.95em;
    font-family: 'Roboto';
    font-weight: 500;
    border-radius: 2px;
    background-color: red;
    border: none;
    color: white;
    float: right;
}

#vid-desc span {
    opacity: 0.8;
}

#desc-buttons {
    float: right;
    margin-top: -34px;
    margin-right: 13px;
}

#desc-buttons p {
    display: inline-block;
    margin: 0;
    font-size: 0.8em;
    color: rgb(143, 143, 143);
    position: relative;
    top: -4px;
    margin-left: 3px;
}

#add-to {
    margin-right: 15px;
}

#likes {
    display: inline-block;
    border-bottom: 2px solid #2793e6;
    height: 29px;
}

.btn-container {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 19px;
}

#likes .btn-container {
    margin-left: 8px;
}

#likes p {
    margin-right: 8px;
}

#desc-buttons a {
    opacity: 0.4;
}

#desc-buttons a:hover {
    opacity: 0.7;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(218, 218, 218);
}

#comment-block {
    height: 1000px;
    background-color: rgb(218, 218, 218);
}

aside {
    background-color: lightgray;
    float: right;
    height: 2000px;
    width: 397px;
}

@media screen and (max-width: 999px) {
    
}
